@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-gray-900 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 9999px;
}
